.org-img {
    height: 200px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

.org-card {
border-radius: 20px;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
margin-bottom: 25px;
/* height:400px; */
position: relative; 
}

.org-card:hover {
background-color: #f0f0f0; 
}

.container {
padding: 5%;
}

.card-link {
text-decoration: none;
color: black;
}

.star-button {
position: absolute; 
top: 7px; 
right: 7px; 
border: 0;
}

.search-row {
  margin-top: 1%;
  margin-bottom: 2.5%;
}

.search-bar {
  border-radius: 35px;
  border: 1px grey solid;
  height: 50px;
}

.main-text {
  font-size: 50px;
  text-align: center;
  font-family: 'Inter', sans-serif; 
  padding-top: 40px;
}

.sub-text {
  font-size: 24px;
  text-align: center;
  font-family: 'Inter', sans-serif; 
}

.sort-btn {
  border-radius: 20px;
  border: 1px grey solid;
}

.filter-btn {
  border-radius: 20px;
  font-size: 20px;
  width: 120px;
  border: 1px grey solid;
  background-color: white;
  color:black;
  margin-right: 4%;
}

.filter-long{
  width: 200px;
}

.dropdown-btn {
  border-radius: 20px;
  font-size: 20px;
  width: 150px;
  border: 1px grey solid;
  background-color: white;
  color:black;
}

.search-filters-row {
  display: flex;
  padding-bottom: 20px;
}

.active {
  background-color: aquamarine !important;
  color: black !important;
}

.org-tags {
  border-radius: 40px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 7px;
  padding-right: 7px; 
}

.org-tags-non-sectarian {
  background-color: #b7cffe;
}

.org-tags-academic {
  background-color: #F2D59A;
}

.org-tags-socio-academic {
  background-color: #DABFFE;
}

.org-tags-computer-science {
  background-color: #F0D2D9;
}

.org-tags-non-profit {
  background-color: #C5DEEA;
}

.org-tags-gaming {
  background-color: #c5eac8;
}

.org-tags-default {
  background-color: #eadcc5;
}

.selected-scope {
  margin-top: -7px;
  margin-bottom: -7px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: aquamarine; /* Change the background color to green */
}

.selected-scope:hover {
  margin-top: -7px;
  margin-bottom: -7px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: aquamarine; /* Change the background color to green */
}