.org-img {
    height: 200px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

.org-card {
border-radius: 20px;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
margin-bottom: 25px;
height:370px;
position: relative; 
}

.org-card:hover {
background-color: #f0f0f0; 
}

.container {
padding: 5%;
}

.card-link {
text-decoration: none;
color: black;
}

.star-button {
position: absolute; 
top: 7px; 
right: 7px; 
border: 0;
}

.search-row {
  margin-top: 1%;
  margin-bottom: 2.5%;
}

.search-bar {
  border-radius: 35px;
  border: 1px grey solid;
  height: 50px;
}

.main-text {
  font-size: 50px;
  text-align: center;
  font-family: 'Inter', sans-serif; 
  padding-top: 40px;
}

.sub-text {
  font-size: 24px;
  text-align: center;
  font-family: 'Inter', sans-serif; 
}

.sort-btn {
  border-radius: 20px;
  border: 1px grey solid;
}

.filter-btn {
  border-radius: 20px;
  font-size: 20px;
  width: 120px;
  border: 1px grey solid;
  background-color: white;
  color:black;
  margin-right: 4%;
}

.filter-long{
  width: 200px;
}

.dropdown-btn {
  border-radius: 20px;
  font-size: 20px;
  width: 150px;
  border: 1px grey solid;
  background-color: white;
  color:black;
}

.search-filters-row {
  display: flex;
  padding-bottom: 20px;
}

.active {
  background-color: aquamarine;
}