.org-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.org-card {
border-radius: 20px;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
margin-bottom: 25px;
height:420px;
position: relative; 
background-color: rgb(250, 250, 250);
}

.org-card:hover {
  background-color: white;
  transform: scale(1.02);
  box-shadow: 0 6px 20px rgb(0 0 0 / 0.3);
}

.card-link {
text-decoration: none;
color: black;
}

.star-button {
position: absolute; 
top: 7px; 
right: 7px; 
border: 0;
}

.search-row {
  margin-top: 1%;
  margin-bottom: 1%;
}

.search-bar {
  border-radius: 35px;
  border: 1px grey solid;
  height: 50px;
}

.header-container {
  background-color: white;
  padding-top: 0px;
  padding-bottom: 10px;
}

.results-container {
  padding-top: 30px;
}

.background-container {
  background: linear-gradient(125deg, #005538, #8D021F);
  background-attachment: fixed !important;
  min-height: 100vh;
  padding-bottom: 5%;
}

.main-text {
  font-size: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif; 
  padding-top: 30px;
  font-weight: bold;
  margin-bottom: -5px;
  background: linear-gradient(80deg, #8D021F 38%, #005538 62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-text {
  font-size: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif; 
  color: #444444;
}

.sort-btn {
  border-radius: 20px;
  border: 1px grey solid;
}

.filter-btn {
  border-radius: 20px;
  font-family: 'Roboto', sans-serif; 
  font-weight: 500;
  font-size: 18px;
  border: 1px grey solid;
  background-color: white;
  color:#6F6F6F;
  margin-right: 10px;
  width: fit-content;
}

.dropdown-btn {
  border-radius: 20px;
  font-family: 'Roboto', sans-serif; 
  font-weight: 500;
  font-size: 18px;
  border: 1px grey solid;
  background-color: white;
  color:#6F6F6F;
  padding-top: 1px;
  padding-bottom: 1px;
}

.search-filters-row {
  display: flex;
  padding-bottom: 20px;
}

.active {
  background-color: #ABE0C7 !important;
  color:#444444;
}

.org-tags {
  border-radius: 40px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 7px;
  padding-right: 7px; 
}

.org-tags-non-sectarian {
  background-color: #b7cffe;
}

.org-tags-academic {
  background-color: #F2D59A;
}

.org-tags-socio-academic {
  background-color: #DABFFE;
}

.org-tags-computer-science {
  background-color: #F0D2D9;
}

.org-tags-non-profit {
  background-color: #C5DEEA;
}

.org-tags-gaming {
  background-color: #c5eac8;
}

.org-tags-default {
  background-color: #eadcc5;
}

.selected-scope {
  margin-top: -7px;
  margin-bottom: -7px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #ABE0C7;;
}

.selected-scope:hover {
  margin-top: -7px;
  margin-bottom: -7px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #ABE0C7;;
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  color: white;
}

.end-of-results {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: white;
  padding-top: 5%;
}

.error-message {
  padding-top: 5%;
}