.org-header-container {
    margin-bottom: 3rem;
    margin-top: 6px;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.custom-grey {
    color: #444444;
}

.back-button {
    margin-bottom: 3px;
    border-radius: 36px;
    background-color: #D9D9D9;
    border-color: #D9D9D9;
}

.back-button:hover {
    background-color: rgba(255, 255, 255, 0.514);
    border-color: none;
}

.orgpage-options {
    margin-top: 2.2rem;
}

.org-options-button {
    border-radius: 36px;
    border-color: #444444;
    color: #444444;
    margin-right: 0.5rem;
}

.org-options-button:hover {
    background-color: #005539;
    border-color: none;
}

.apply-button {
    border-radius: 36px;
    background-color:#FFB933;
    font-weight: 500;
    border-color: black;
}

.apply-button:hover {
    background-color: #FFDE9F;
    border-color: black;
    color: black;
}

.carousel-item {
    height: 25rem;
}

.org-header-box {
    height: auto;
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 2rem;
    margin-top: -6px;
}

.org-header-text {
    margin-top: 2rem;
    margin-left: 1rem;
}

.logo-img {
    margin-top: -60px;
    height: 250px;
    border-radius: 500px;
    display: block;
    margin-left: 4rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
}

.org-info {
    z-index: -1;
    background-color: rgb(189, 189, 189);
    font-size: 20px;
    font-family: Inter;
}

.about-card-header {
    font-weight: bold;
    font-size: 20px;
    padding-top: 1.5rem;
}

.right-card-header {
    font-weight: bold;
    align-items: start;
    padding-top: 1rem;
}

.about-info {
    margin-left: -13px;
}

.orgpage-body {
    margin-top: -0.7rem;
    margin-bottom: 5%;
}

.org-desc {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
