.org-header-container {
    margin-bottom: 3rem;
    margin-top: 6px;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.custom-grey {
    color: #444444;
}

.back-button {
    margin-bottom: 3px;
    border-radius: 36px;
    background-color: #D9D9D9;
    border-color: #D9D9D9;
}

.back-button:hover {
    background-color: rgba(255, 255, 255, 0.514);
    border-color: none;
}

.orgpage-options {
    margin-top: 2.2rem;
}

.org-options-button-secondary {
    border-radius: 3px;
    border: none;
    background-color: #D9D9D9;
    color: black;
    margin-right: 0.5rem;
}

.org-options-button-secondary:hover {
    background-color: #c6c6c6;
    color: black;
}

.org-options-button {
    border-radius: 3px;
    border: none;
    background-color: #005539ce;
    color: #ffffff;
    margin-right: 0.5rem;
}

.org-options-button:hover {
    background-color: #005539;
    border-color: none;
}

.img-edit-button {
    border-radius: 36px;
    background-color: #ffffff;
    color: black;
    margin-right: 0.5rem;
}

.img-edit-button:hover {
    background-color: #e0e0e0;
    color: black;
}

.camera-button {
    padding: 10px 15px 10px 15px;
    border-radius: 36px;
    border: none;
    background-color: #ffffff;
    color: #444444;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 54%; 
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.428);
}

.camera-button:hover {
    background-color: #e0e0e0;
    color: #444444;
}

.apply-button {
    border-radius: 36px;
    background-color:#FFB933;
    font-weight: 500;
    border-color: black;
}

.apply-button:hover {
    background-color: #FFDE9F;
    border-color: black;
    color: black;
}

.carousel-item {
    height: 25rem;
}

.carousel-edit {
    height: 200px;
}

.carousel-item-edit {
    height: 100%;
}

.org-header-box {
    height: auto;
    background-color: white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 2rem;
    margin-top: -6px;
}

.org-header-text {
    margin-top: 2rem;
    margin-left: 1rem;
}

.logo-img {
    margin-top: -60px;
    height: 250px;
    width: 250px;
    border-radius: 500px;
    display: block;
    margin-left: 4rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
    object-fit: cover;
}

.edit-logo-img {
    margin-top: -60px;
    height: 150px;
    height: 150px;
    border-radius: 500px;
    display: block;
    margin-left: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
    object-fit: cover;
}

.org-info {
    z-index: -1;
    background-color: rgb(189, 189, 189);
    font-size: 20px;
    font-family: Inter;
}

.about-card-header {
    font-weight: bold;
    font-size: 20px;
    padding-top: 1.5rem;
}

.right-card-header {
    font-weight: bold;
    align-items: start;
    padding-top: 1rem;
}

.about-info {
    margin-left: -13px;
}

.orgpage-body {
    margin-top: -0.7rem;
    margin-bottom: 5%;
}

.org-desc {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.modal-title {
    padding-left: 1rem;
}

.dark-overlay {
    background-color: rgba(0, 0, 0, 0.2);
}    

.application-text {
    margin-left: 18px;
    margin-right: 18px;
    text-align: center;
    font-size: 20px;
}

.btn-accept {
    margin-top: 40px;
    margin-left: 13%;
    margin-right: 10%;
    background-color: #005539;
    color: white;
    padding: 8px 50px;
}

.btn-reject {
    margin-top: 40px;
    background-color: #D9D9D9;
    padding: 8px 50px;
}

.btn-answered {
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 10%;
    background-color: #005539;
    color: white;
    padding: 8px 50px;
}

.btn-back-to-org {
    margin-top: 40px;
    margin-left: 26%;
    margin-right: 10%;
    background-color: #005539;
    color: white;
    padding: 8px 50px;
}

.checkmark {
    display: block;
    margin-left: auto;
    margin-right: auto;
}