.a-toggle-button {
  border: none;
  background-color: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  & :hover {
    opacity: 0.5;
  }
}

.admin-table-row {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: solid 1px grey;
  white-space: nowrap;
}

.admin-row-header {
  font-weight: bold;
  border-bottom: solid 1px black;
  padding-bottom: 0.25rem;
  padding-top: 0;
}

.admin-row-start {
  display: flex;
  align-items: center;
}

.admin-row-start-header {
  margin-left: 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.admin-row-mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  white-space: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  &:active {
    white-space: wrap;
  }
}

.admin-row-mid-body {
  margin-left: 1.75rem;
}

.admin-row-end {
  display: flex;
  justify-content: flex-end;
}

.admin-search {
  border: none;
  border-radius: 0.4rem;
  padding: 0.2em 0.5em;
  display: flex;
  align-items: center;

  input {
    background: none;
    border: none;
    width: 20rem;
    font-size: 0.9rem;

    &:focus {
      outline: none;
    }
  }
}

.admin-table-name {
  white-space: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 1rem;
  &:active {
    white-space: wrap;
  }
}

