@font-face {
font-family: 'Solway';
src: url('/src/assets/fonts/solway/Solway-Bold.otf') format('opentype');
}

@font-face {
font-family: 'Inter';
src: url('/src/assets/fonts/Inter/Inter.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto';
src: url('/src/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

.navbar {
padding-top: 2px !important;
padding-bottom: 2px !important;
padding-left: 1rem !important;
padding-right: 1rem !important;
}

.navbar-brand {
display: inline-block;
font-family: 'Solway', Arial, sans-serif;
font-size: 1.5rem !important;
letter-spacing: 1px;
display: flex;
align-items: center;
}

.navbar-brand img {
margin-right: 9px;
width: 40px; 
height: 40px;
}

.right-btn:hover {
background-color: #8D021F;
border-color: #FFFFFF;
color: white; 
}

.left-btn {
    display: inline-block;
    width: 100%;
    background-color: transparent;
    color: white;
    border-radius: 30px;
    border:#8D021F;
    padding: 3px 20px 3px 20px;
    font-family: 'Inter', sans-serif; 
    font-weight: 510;
    margin-right:28px

}

.right-btn {
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    color: #8d021f;
    border-radius: 30px;
    border-color: #ffffff00;
    padding: 3px 20px 3px 20px;
    font-family: 'Inter', sans-serif;  
    font-weight: 550;
}

.align-buttons {
    display: flex;
    align-items: center;
}

.navbar {
background-color: #8D021F;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
}

.custom-dropdown-button {
    background-color: rgba(255, 255, 255, 0.178) !important;
    color: #fff !important;
    border-color: #ffffff00 !important;
    border-radius: 36px !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 12px;
  }
  
.custom-dropdown-button:hover,
.custom-dropdown-button:focus {
    background-color: #fff !important;
    color: #8D021F !important;
    border-color: #fff !important;
    border-radius: 36px !important;
    font-family: 'Inter', sans-serif !important;
}

.no-dropdown-icon {
    margin-right: 5px !important;
}
.no-dropdown-icon::after {
    display: none !important;
}

.aligned-dropdown-menu {
    right: 5px !important;
    left: auto !important;
}

.menu-padding {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

  