#welcome {
    padding: 40px 0;
}

.welcome-to {
    font-family: 'Inter', sans-serif; 
    font-weight: bold; 
    color:#444444;
}

.gateway {
    font-family: 'Inter', sans-serif; 
    color:#444; 
    font-size: calc(1.4rem + 0.2vw); 
    margin-top: -10px;
}

.row {
    position: relative;
}

.intro-img {
    height: 500px; 
    overflow: hidden; 
    position: relative;
}

.img-fluid {
    width: 100%; height: 100%; object-fit: cover;
}

.gradient-bg {
    position: absolute; top: 0; left: 0; width: 100%; height: 50%; background: linear-gradient(to top, rgba(255,255,255,0) 0%,#D9D9D9 100%);
}

.intro {
    position: absolute; top: 10px; left: 50%; transform: translateX(-50%);
}

.intro-text {
    padding-bottom: 60px
}

.ugnayan-text {
    font-family: 'Solway', Arial, sans-serif;
    font-weight: bold;
    color: #8D021F;
}

.custom-paragraph {
font-size: 16px; 
color: #444444; 
font-family: 'Roboto', Arial, sans-serif;
margin-top: 20px;
line-height: 1.5; 
max-width: 750px;
margin: 0 auto;
}

body {
    background-color: #D9D9D9 !important;
}
        
    