@font-face {
font-family: 'Solway';
src: url('/src/assets/fonts/solway/Solway-Bold.otf') format('opentype');
}

@font-face {
font-family: 'Inter';
src: url('/src/assets/fonts/Inter/Inter.ttf') format('truetype');
}

@font-face {
font-family: 'Roboto';
src: url('/src/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

.navbar {
padding-top: 3px;
padding-bottom: 3px;
}

.navbar-brand {
font-family: 'Solway', Arial, sans-serif;
font-size: 22px;
letter-spacing: 1px;
display: flex;
align-items: center;
}

.navbar-brand img {
margin-right: 7px;
}

/* Add padding to the left of the navbar on larger screens */
@media (min-width: 1200px) {
.navbar {
    padding-left: 20px;
    padding-right: 20px;
}
}

/* .left-btn:hover {
    background-color: white;
    border-color: #FFFFFF;
    color: #8D021F; 
} */

.right-btn:hover {
background-color: #8D021F;
border-color: #FFFFFF;
color: white; 
}

.left-btn {
    display: block;
    width: 100%;
    background-color: transparent;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    margin-right:28px

}

.right-btn {
    display: block;
    width: 100%;
    background-color: #ffffff;
    color: #8d021f;
    border-radius: 30px;
    border: none;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
  }

.navbar {
background-color: #8D021F;
}

a:-webkit-any-link {
    text-decoration: none;
    color: inherit;
  }