@font-face {
  font-family: "Solway";
  src: url("/src/assets/fonts/solway/Solway-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter/Inter.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@media (max-width: 767px) {
  .app-signup-logo {
    display: none;
  }
}

.signup-page {
  background-color: #ffffff;
  color: #8d021f;
  border-radius: 30px;
  width: 6vw;
  height: 5vh;
  border: none;
  font-weight: bold;

  margin: 0.5vw;
}

.app-signup-logo {
  width: 20vw;
  height: 20vw;
  transform: translate(-70%, -180%);
  position: relative;
}

.signup-form {
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 700px;
}
.signup-background {
  margin-top: 20px;
  background-image: linear-gradient(to right bottom, #8d021f, #005538);
  border-radius: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 700px;
  transform: translate(20%);

  position: relative;
}

.signup-bg-text {
  padding-top: 40px;
  padding-left: 30px;
  color: #ffffff;
  width: 13vw;
  font-family: "Inter";
  font-weight: normal;
  font-size: 24px;
}

.signup-text {
  padding-top: 30px;
  text-align: center;
  font-family: "Inter";
  font-weight: bold;
  color: #444444;
  font-size: 30px;
}

.signup-subtext {
  text-align: center;
  font-family: "Roboto";
  color: #888888;
  font-size: 15px;
}

.signup-inputs {
  margin: auto;
  width: 70%;
}

.signup-input {
  background-color: #d9d9d9;
  height: 5vh;
  width: 100%;
  border-bottom: 1px solid #8d021f;
  text-align: left;
  font-size: 16px;
  color: #000000;
}

.signup-space {
  margin-bottom: 2.5vh;
}

.signup-select {
  color: rgb(80, 83, 86);
  padding-left: 7px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #8d021f;
}

.signup-input-password {
  background-color: #d9d9d9;
  height: 5vh;
  width: 100%;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  text-align: left;
  font-size: 16px;
  color: #000000;
}

.signup-password-blank {
  display: flex;
  flex-direction: row;
  background-color: rgb(217, 217, 217);
  margin-bottom: 2.5vh;
  width: 100%;
  border-radius: 5px;
  border-bottom: 1px solid #8d021f;
}

.signup-password-hide,
.signup-password-show {
  width: 3vh;
  height: 3vh;
  margin-left: auto;
  margin-right: 0;

  transform: translate(-20%);
}

.signup-show-password {
  height: 5vh;
  width: 5vh;

  background-color: #d9d9d9;
  border: none;
}

.create-acc-button {
  height: 5vh;
  width: 100%;
  background-color: #005538;
  color: #ffffff;
  border: none;
  font-size: 16px;
  margin-bottom: 1.25vh;
}

.login-link {
  color: #005538;
  text-decoration: none;
}
